<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">Каталог</h1>

		<div class="grid grid-spacing-lg-7">
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/103/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/111/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/133/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/202/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/212/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/311/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/320/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/322/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/323/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/325/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/327/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/328/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/330/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/335/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/337/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/340/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/342/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/351/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/353/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
			<div class="grid-col-lg-3 grid-col-6">
				<a class="catalog-item catalog-item--sm">
					<div class="catalog-item__img ui-progress-container">
						<div class="ui-progress">
							<svg class="icon">
								<use xlink:href="img/utils.svg#CircularProgress" />
							</svg>
						</div>
						<img src="https://picsum.photos/id/360/600/400" alt="">
					</div>
					<div class="catalog-item__title">Клубника</div>
				</a>
			</div>
		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>