<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">

		<div class="catalog-empty">
			<div class="catalog-empty__content">
				<h1 class="catalog-empty__title page-title mb-3">По вашем запросу ничего не найдено</h1>
				<p class="text-body-1 mb-5 mb-md-10">
					Попробуйте изменить формулировку или воспользуйтесь нашим каталогом
				</p>
				<a class="catalog-empty__btn btn btn--accent" href="">В каталог</a>
			</div>
			<img class="catalog-empty__img" src="img/dacha/tree.png" alt="">
		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>