<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">КОНТАКТЫ</h1>

		<div class="contacts">
			<div class="text-h6">Наши контакты</div>
			<div class="contacts__items mt-6 mb-6">
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Адрес</span>
					<span class="text-body-1 text--bold">
						г. Смоленск, ул Рыленкова д 50
					</span>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Телефон</span>
					<a class="text-body-1 text--bold" href="tel: +7 (800) 775-79-76">
						+7 (800) 775-79-76
					</a>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Почта</span>
					<a class="text-body-1 text--bold" href="mailto: info@rastidacha.ru">
						info@rastidacha.ru
					</a>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Реквизиты</span>
					<span class="text-body-1 text--bold">
						ИНН 233803715292 <br>КПП 770000000
					</span>
				</div>
			</div>
			<hr>
			<div class="text-h6 mt-6">Магазин</div>
			<div class="contacts__items mt-6 mb-6">
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Для связи с менеджером по продажам</span>
					<a class="text-body-1 text--bold" href="mailto: sale@rastidacha.ru">
						sale@rastidacha.ru
					</a>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Для связи с отделом консультаций</span>
					<a class="text-body-1 text--bold" href="mailto: comsultant@rastidacha.ru">
						comsultant@rastidacha.ru
					</a>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Для связи с отделом консультаций</span>
					<a class="text-body-1 text--bold" href="mailto: guarantee@rastidacha.ru">
						guarantee@rastidacha.ru
					</a>
				</div>
				<div class="contacts__item px-5 py-5 px-md-8">
					<span class="contacts__name text-body-1 mb-2">Для связи по вопросам партнерства</span>
					<a class="text-body-1 text--bold" href="mailto: partner@rastidacha.ru">
						partner@rastidacha.ru
					</a>
				</div>
			</div>
			<hr>
			<div class="text-h6 mt-6 mb-6">Наши мессенджеры</div>
			<div class="contacts__social">
				<a class="contacts__social-item" href="">
					<img class="icon text-h1 mr-4" src="img/dacha/tg.svg" alt="">
					<div class="contacts__social-content">
						<span class="contacts__name text-body-1">Telegram</span>
						<span class="text-body-1 text--bold">@rastidacha</span>
					</div>
				</a>
				<a class="contacts__social-item" href="">
					<img class="icon text-h1 mr-4" src="img/dacha/wa.svg" alt="">
					<div class="contacts__social-content">
						<span class="contacts__name text-body-1">WhatsApp</span>
						<span class="text-body-1 text--bold">@rastidacha</span>
					</div>
				</a>
				<a class="contacts__social-item" href="">
					<img class="icon text-h1 mr-4" src="img/dacha/vb.svg" alt="">
					<div class="contacts__social-content">
						<span class="contacts__name text-body-1">Viber</span>
						<span class="text-body-1 text--bold">@rastidacha</span>
					</div>
				</a>
			</div>
		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>