<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>ДОКУМЕНТЫ</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">ДОКУМЕНТЫ</h1>

		<div class="documentation">
			<div class="documentation__item">
				<div class="documentation__content">
					<div class="documentation__text text-body-1 lh-1-5 mb-5">Закон РФ от 07.02.1992 N 2300-1 (ред. от 05.12.2022) «О защите прав потребителей».</div>
					<a class="documentation__btn btn btn--accent" href="" target="_blank">
						<img class="icon text-h6 mr-1" src="img/dacha/file-download.svg" alt="">
						Скачать
					</a>
				</div>
				<div class="documentation__pic">
					<img class="documentation__img" src="img/dacha/doc-1.png" alt="">
				</div>
			</div>
			<div class="documentation__item">
				<div class="documentation__content">
					<div class="documentation__text text-body-1 lh-1-5 mb-5">Постановление Правительства Российской Федерации от 31.12.2020 № 2463 "Об утверждении Правил продажи товаров по договору розничной купли-продажи, перечня товаров длительного пользования, на которые не распространяется требование потребителя о безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими свойствами, на период ремонта или замены такого товара и перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые акты Правительства Российской Федерации</div>
					<a class="documentation__btn btn btn--accent" href="" target="_blank">
						<img class="icon text-h6 mr-1" src="img/dacha/file-download.svg" alt="">
						Скачать
					</a>
				</div>
				<div class="documentation__pic">
					<img class="documentation__img" src="img/dacha/doc-2.png" alt="">
				</div>
			</div>
			<div class="documentation__item">
				<div class="documentation__content">
					<div class="documentation__text text-body-1 lh-1-5 mb-5">ГОСТ Р 59370-2021 «Зеленые» стандарты. Посадочный материал декоративных растений</div>
					<a class="documentation__btn btn btn--accent" href="" target="_blank">
						<img class="icon text-h6 mr-1" src="img/dacha/file-download.svg" alt="">
						Скачать
					</a>
				</div>
				<div class="documentation__pic">
					<img class="documentation__img" src="img/dacha/doc-3.png" alt="">
				</div>
			</div>
			<div class="documentation__item">
				<div class="documentation__content">
					<div class="documentation__text text-body-1 lh-1-5 mb-5">Стандарты на посадочный материал декоративных и плодовых растений рекомендуемые на территории Российской Федерации</div>
					<a class="documentation__btn btn btn--accent" href="" target="_blank">
						<img class="icon text-h6 mr-1" src="img/dacha/file-download.svg" alt="">
						Скачать
					</a>
				</div>
				<div class="documentation__pic">
					<img class="documentation__img" src="img/dacha/doc-4.png" alt="">
				</div>
			</div>
		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>