<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">избранное</h1>
		

		<div class="card-items card-items--4">
			<div class="card-page">
				<div class="card-page__title" style="background-color: #3FC54C;">Новинка</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<div class="card-page__title" style="background-color: #DF9527;">Хит!</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<div class="card-page__title" style="background-color: #D12F2F;">Скидка</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<div class="card-page__title" style="background-color: #3FC54C;">Новинка</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<div class="card-page__title" style="background-color: #DF9527;">Хит!</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<div class="card-page__title" style="background-color: #D12F2F;">Скидка</div>
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
			<div class="card-page">
				<picture>
					<source srcset="img/roza.webp" type="image/webp">
					<img src="img/roza.png" loading="lazy" class="card-page__image">
				</picture>
				<div class="card-page-text">
					<div class="card-page-text-grade">
						<div class="card-page-text-grade-stars mr-3">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
							<img src="img/dacha/star.svg">
						</div>
						<div class="card-page-text-grade__review">5.0</div>
						<img src="img/like.svg" class="card-page__like"></img>
					</div>
					<div class="card-page-text__subtitle">Роза Беби Маскарад (Baby Masquerade)</div>
					<div class="card-page-text__price">
						<div class="card-page-text__price-new">390 руб.</div>
						<div class="card-page-text__price-old ml-2">390 руб.</div>
					</div>
					<a class="btn btn--accent mt-auto" href="">
						<svg class="icon text-h6 mr-2">
							<use xlink:href="img/icons.svg#shopping-cart" />
						</svg>
						В корзину
					</a>
				</div>
			</div>
		</div>
	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>