<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">

		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">Личный кабинет</h1>

		<div class="lk-wrapper">
			<div class="lk-aside">
				<div class="lk-aside-user mb-10">
					<div class="lk-aside-user__img">
						<img src="https://picsum.photos/id/550/600/400" alt="">
					</div>
					<div class="lk-aside-user__title">Наталья Ивановна</div>
				</div>
	
				<div class="lk-aside-links" data-toggle-cover>
					<div class="lk-aside-link lk-aside-toggler" data-toggle-link>Мой аккаунт
						<svg class="icon">
							<use xlink:href="img/icons.svg#navigate-right" />
						</svg>
					</div>
					<div class="lk-aside-links-inner" data-toggle-height="true" data-toggle-static="true" data-toggle-content>
	
						<div class="lk-aside-link active waves">Заказы</div>
						<div class="lk-aside-link waves">Настройки профиля</div>
						<div class="lk-aside-link waves">Изменить пароль</div>
						<div class="lk-aside-link lk-aside-link--exit waves">
							<span class="lk-aside-link-dashed">Выйти из личного кабинета</span>
						</div>
					</div>
				</div>
			</div>
	
			<div class="lk-content">
	
				<div class="lk-password">
					<div class="grid grid-spacing-5 grid-spacing-md-7">
						<div class="grid-col-md-6">
							<label class="ui-form-field">
								<div class="text-body-1 text--bold mb-3">Введите новый пароль</div>
								<div class="ui-form-input-cover">
									<input type="password" class="ui-form-input ui-form-input--error" id="pass">
									<div class="ui-form-input-end pr-5" >
										<button data-show-pass="pass" class="btn btn--link btn-icon btn--gray">
											<svg class="icon text-h6 active-disabled"><use xlink:href="img/icons.svg#eye" /></svg>
											<svg class="icon text-h6 active-enabled"><use xlink:href="img/icons.svg#eye-closed" /></svg>
										</button>
									</div>
								</div>
							</label>
						</div>
						<div class="grid-col-md-6">
							<label class="ui-form-field">
								<div class="text-body-1 text--bold mb-3">Повторите новый пароль</div>
								<div class="ui-form-input-cover">
									<input type="password" class="ui-form-input" id="repeat-pass">
									<div class="ui-form-input-end pr-5" >
										<button data-show-pass="repeat-pass" class="btn btn--link btn-icon btn--gray">
											<svg class="icon text-h6 active-disabled"><use xlink:href="img/icons.svg#eye" /></svg>
											<svg class="icon text-h6 active-enabled"><use xlink:href="img/icons.svg#eye-closed" /></svg>
										</button>
									</div>
								</div>
							</label>
						</div>
						<div class="grid-col-12">
							<div class="lk-password-max p-4">
								Минимум 8 символов с прописными или строчными буквами и цифрами
							</div>
						</div>
						<div class="grid-col-12">
							<button class="btn btn--accent" data-fancybox-modal data-src="dialog-info.html">Сохранить изменения</button>
						</div>
						<div class="grid-col-lg-4 grid-col-md-6">
							<div class="lk-password-error py-4 py-md-6 px-4">
								Пароль должен быть не менее <br>
								<b>8 символов длиной</b>
							</div>
						</div>
						<div class="grid-col-lg-4 grid-col-md-6">
							<div class="lk-password-error py-4 py-md-6 px-4">
								Пароль должен содержать <br>
								<b>латинские символы нижнего <br>
								регистра (a-z)</b>
							</div>
						</div>
						<div class="grid-col-lg-4 grid-col-md-6">
							<div class="lk-password-error py-4 py-md-6 px-4">
								Пароль должен содержать <br>
								<b>цифры (0-9)</b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>