<%= _.template(require('./html-includes/header.html').default)() %>

<section class="container-block page-block">
  <div class="page-link mb-6">
    <a href="">Главная</a> / <span>Каталог</span>
  </div>
  <a class="back-btn btn btn--white mb-2 mb-md-8" href="">
    <img class="icon text-small" src="img/arrow-left.svg" alt="">
    <span class="back-btn__text ml-2">Назад</span>
  </a>
  <h1 class="page-title mb-5 mb-md-9">оплата и доставка</h1>

  <div class="payment">
    <div class="free-delivery mb-5 mb-md-9">
      <div class="free-delivery-list">
        <div class="free-delivery-list-item">
          <div class="free-delivery-list-item-icon">
            <img src="img/free-delivery-icon-1.svg" alt="">
          </div>
          <div class="flex-self-start">
            Акция бесплатной доставки распространяется на сумму заказа, если она превышает <span class="text--bold">999999</span> рублей для СДЭК
            и <span class="text--bold">999999</span> для Почты России

          </div>
        </div>
        <div class="free-delivery-list-item">
          <div class="free-delivery-list-item-icon">
            <img src="img/free-delivery-icon-2.svg" alt="">
          </div>
          <div class="flex-self-start">
            Доставка в рамках акции осуществляется транспортной компанией СДЕК до пункта выдачи по территории Российской Федерации.
          </div>
        </div>
        <div class="free-delivery-list-item">
          <div class="free-delivery-list-item-icon">
            <img src="img/free-delivery-icon-3.svg" alt="">
          </div>
          <div class="flex-self-start">
            Акция действует, если сумма доставки <span class="text--bold">не превышает 3000 рублей для СДЭК и 3000 рублей для Почты России.</span> В случае превышения,
            доставка оплачивается компанией «Расти дача» <span class="text--bold">на 50% для СДЭК и 50% для Почты России.</span> Узнать стоимость доставки можно после
            оплаты заказа у менеджера – она будет рассчитана в зависимости от пункта назначения и габаритов посылки.
          </div>
        </div>
      </div>
      <!-- <div class="flex flex-align-center mt-6">
				<svg class="icon color-red">
					<use xlink:href="img/icons.svg#i" />
				</svg>
				<div class="text-sm-body-0  color-red text--demibold ml-3">*Акция не распространяется на доставку Почтой России.</div>
			</div> -->
    </div>

    <div class="text-h6 mb-5 mb-md-8">Оплата Банковской картой On-Line </div>

    <div class="flex payment-logos mb-8">
      <img src="img/visa.png" alt="">
      <img src="img/mastercard.png" alt="">
      <img src="img/world.png" alt="">
    </div>
    <div class="mb-8">
      При оформлении заказа выберите способ оплаты "Банковской картой". По окончании оформления заказа вам будет доступна форма оплаты.Использовать для оплаты разрешается только вашу личную банковскую карту. Все действия с персональными данными осуществляются при помощи защищенного канала на сервере платежной системы. В случае, если осуществить платеж не удается, свяжитесь, пожалуйста, с представителем вашего банка для выяснения причины отказа в платеже.

      <ul>
        <li>
          Для платежа используйте только вашу карту. Платежи выполненные при помощи банковской карты не принадлежащей вам приняты не будут.
        </li>
        <li>
          Для оплаты заказов могут быть использованы карты VISA, MASTERCARD, МИР Российских банков. Платежи c карт эмитированных зарубежными банками не принимаются.
        </li>
      </ul>


    </div>


    <div class="text-h6 mb-5 mb-md-8">Возврат товара</div>
    <div class="mb-8">
      Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».

      <ul>
        <li>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;</li>
        <li>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;</li>
        <li>Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;</li>
        <li>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования</li>
      </ul>
    </div>


    <div class="text-h6 mb-5 mb-md-8">Отказ от услуги </div>
    <div class="mb-8">
      Право потребителя на расторжение договора об оказании услуги регламентируется статьей 32 федерального закона «О защите прав потребителей»
      <br><br>
      Потребитель вправе расторгнуть договор об оказании услуги в любое время, уплатив исполнителю часть цены пропорционально части оказанной услуги до получения извещения о расторжении указанного договора и возместив исполнителю расходы, произведенные им до этого момента в целях исполнения договора, если они не входят в указанную часть цены услуги;
      <br><br>
      Потребитель при обнаружении недостатков оказанной услуги вправе по своему выбору потребовать:
      <ul>
        <li>безвозмездного устранения недостатков;</li>
        <li>соответствующего уменьшения цены;</li>
        <li>возмещения понесенных им расходов по устранению недостатков своими силами или третьими лицами;</li>
      </ul>

      Потребитель вправе предъявлять требования, связанные с недостатками оказанной услуги, если они обнаружены в течение гарантийного срока, а при его отсутствии в разумный срок, в пределах двух лет со дня принятия оказанной услуги;
      <br><br>
      Исполнитель отвечает за недостатки услуги, на которую не установлен гарантийный срок, если потребитель докажет, что они возникли до ее принятия им или по причинам, возникшим до этого момента;

    </div>

    <div class="text-h6 mb-5 mb-md-8">Упаковка</div>

    <div class="payment__info p-4 p-md-8 mb-5 mb-md-8">
      <p class="mb-5">
        Мы уделяем большое внимание к упаковке наших растений, потому что наша главная задача – доставить их Вам живыми и невредимыми, словно Вы сами только что выкопали их в поле! Ведь саженцы требуют особого внимания к упаковке при транспортировке!
      </p>
      <b>
        Компания Семена и саженцы использует трехступенчатую систему упаковки, которая гарантирует жизнеспособность растений
        в течение двух месяцев.
      </b>
    </div>

    <ul class="mb-5 mb-md-10">
      <li class="mb-3">
        В конце осени, когда сокодвижение в растении останавливается, и саженец переходит в состояние анабиоза, мы выкапываем готовую продукцию и закладываем на хранение в специальное помещение, предварительно пересыпав корни аморфным грунтом.
      </li>
      <li class="mb-3">
        После, саженцы ждут своего хозяина, чтобы найти свой дом и радовать Вас большим и вкусным урожаем! А мы в это время усердно ищем им владельцев.
      </li>
      <li class="mb-3">
        С 1 марта начинается отправка посылок в первую очередь по забронированным заявкам, а далее по вновь поступившим заказам.
      </li>
      <li class="mb-3">
        Перед отправкой владельцу корни саженца мы замачиваем в гидрогель. Это даёт растению достаточно влаги, чтобы подпитываться на протяжении всего пути, даже если саженец вдруг проснётся.
      </li>
      <li class="mb-3">
        Затем корни помещаются в торфосмесь и надёжно обматываются стретч-плёнкой так, чтобы плёнка прилегала к стволу идеально плотно. Это помешает влаге выйти, таким образом получается замкнутая система. Важно: каждое растение упаковывается индивидуально!
      </li>
      <li>
        На финальном этапе саженцы фасуют в коробку и обкладывают крафтовой бумагой для фиксации неподвижного состояния. Это необходимо чтобы растение не повредилось после нескольких циклов переворотов и возможных ударов при транспортировке.
      </li>
    </ul>

    <div class="text-h6 mb-5 mb-md-8">Отправка декоративных растений осуществляется в горшках Р9, С1, С2 и С3</div>

    <div class="payment__items mb-5 mb-md-10">
      <div class="payment__item py-4 px-4 py-md-8">
        <div class="payment__number text-h6 mb-5">Р9</div>
        <div class="text-body-1">
          пластиковый квадратный горшок размером 9*9*9 см
        </div>
      </div>
      <div class="payment__item py-4 px-4 py-md-8">
        <div class="payment__number text-h6 mb-5">С1</div>
        <div class="text-body-1">
          пластиковый круглый горшок объёмом 1 литр
        </div>
      </div>
      <div class="payment__item py-4 px-4 py-md-8">
        <div class="payment__number text-h6 mb-5">С2</div>
        <div class="text-body-1">
          пластиковый круглый горшок объёмом 2 литра
        </div>
      </div>
      <div class="payment__item py-4 px-4 py-md-8">
        <div class="payment__number text-h6 mb-5">С3</div>
        <div class="text-body-1">
          пластиковый круглый горшок объёмом 3 литра
        </div>
      </div>
    </div>

    <div class="payment__main text-body-0 text--demibold mb-5 mb-md-10">
      <svg class="icon mr-2">
        <use xlink:href="img/icons.svg#ms" />
      </svg>
      Будьте внимательны: вес горшка отразится на стоимости доставки!
    </div>

    <div class="text-h6 mb-5 mb-md-8">Доставка</div>

    <div class="payment__info p-4 p-md-8 mb-5 mb-md-8">
      <div class="payment__cub">
        <svg class="icon text-h6 mr-2">
          <use xlink:href="img/icons.svg#cub" />
        </svg>
        <div class="text-subtitle-2">После оплаты заказа, специалисты компании КСП готовят его к отправке</div>
      </div>
    </div>

    <div class="text-body-1 mb-5">
      Луковицы и Корни цветов мы заказываем у надёжных поставщиков из Нидерландов. В связи с повышением пошлины на ввоз на границе, посадочный материал завозится сразу большими партиями: четыре раза весной (25 февраля, 25 марта, 10/25 апреля и 5 мая) и два раза осенью (25 сентября и 25 октября). Если луковиц в наличие нет, а до прибытия есть время – мы собираем предзаказы.
    </div>

    <hr>

    <div class="text-body-1 mb-5 mt-5">
      Растения мы отправляем с 1 марта по 15 июня и с 1 сентября по 1 декабря. Саженцы плодово – ягодных, винограда и роз, мы производим на собственном питомнике, за исключением небольшого процента новинок в нашем каталоге.
    </div>

    <hr>

    <div class="text-body-1 mb-5 mt-5">
      Зимой саженцы находятся в состоянии анабиоза, но транспортировка в это время не желательна, так как мороз может загубить растение. Летом же саженец находится в фазе активного роста и развития, транспортировка в это время даёт сильный стресс растениям и снижает процент приживаемости.
    </div>

    <hr>

    <div class="text-body-1 mb-5 mt-5">
      Для комфортной адаптации и для сохранности растения живыми, пересадка возможна только в осенний и в весенний период.
    </div>

    <hr>

    <div class="text-body-1 mb-5 mb-md-10 mt-5">
      Семена овощей и цветов, мицелий грибов, удобрения, газонная трава и садовый инвентарь отправляются в любое время года.
    </div>

    <div class="payment__ways mb-5 mb-md-10">
      <div class="payment__way payment__way--green p-4 p-md-8">
        <div class="payment__img mb-5 mb-md-10 pb-5 pb-md-10">
          <img src="img/dacha/cdek.png" alt="">
        </div>
        <ul>
          <li class="mb-5">
            Стоимость доставки компанией СДЭК - <b>от 400 рублей</b>
          </li>
          <li class="mb-5">
            Сроки доставки – <b>от 2 до 5 дней после отправки</b>
          </li>
          <li class="mb-5">
            В стоимость товара <b>НЕ ВКЛЮЧЕНЫ</b> почтовые сборы, стоимость доставки рассчитывается отдельно
          </li>
          <li>
            Выбор: самовывоз или доставка до двери
          </li>
        </ul>
      </div>
      <div class="payment__way payment__way--blue p-4 p-md-8">
        <div class="payment__img mb-5 mb-md-10 pb-5 pb-md-10">
          <img src="img/dacha/pochta.png" alt="">
        </div>
        <ul>
          <li class="mb-5">
            Стоимость доставки - <b>от 350 рублей</b>
          </li>
          <li class="mb-5">
            Сроки доставки – <b>от 3 до 14 дней</b> с момента отправки
          </li>
          <li>
            В стоимость товара <b>НЕ ВКЛЮЧЕНЫ</b> почтовые сборы, стоимость доставки рассчитывается отдельно
          </li>
        </ul>
      </div>
    </div>

    <div class="text-h6 mb-5 mb-md-8">Способы оплаты</div>

    <div class="payment__elem mb-5">
      <div class="payment__elem-img">
        <svg class="icon">
          <use xlink:href="img/icons.svg#card" />
        </svg>
      </div>
      <div class="text-body-1">
        Картой банка через внутренний защищённый шлюз системы Сбербанк Эквайринг. Важно: платёжный шлюз предоставил Сбербанк,все транзакции надёжно защищены
      </div>
    </div>
    <div class="payment__elem mb-5 mb-md-10">
      <div class="payment__elem-img">
        <svg class="icon">
          <use xlink:href="img/icons.svg#mob" />
        </svg>
      </div>
      <div class="text-body-1">
        Владельцы дебетовой банковской карты ПАО Сбербанк, подключившиеся к услуге «Мобильный банк» и к системе «Сбербанк Онлайн», могут совершать покупки в кредит, не выходя из дома! Кредит по программе "Покупай со Сбером"
      </div>
    </div>

    <div class="text-h6 mb-5 mb-md-8">Основные требования</div>

    <ul class="mb-5 mb-md-10 pl-5">
      <li class="mb-5">
        Гражданство РФ
      </li>
      <li class="mb-5">
        Возраст покупателя - от 21 до 70 лет на момент возврата кредита по договору
      </li>
      <li>
        Наличие постоянной (временной) регистрации по месту жительства/пребывания на территории Российской Федерации
      </li>
    </ul>

    <div class="text-h6 mb-5 mb-md-8">Клиентский сценарий</div>

    <ol class="mb-5 mb-md-10 pl-5">
      <li class="mb-5">
        Выберите товар, оформите заказ, при оформлении заказа нажмите «Купить в кредит», с вами свяжется менеджер для уточнения информации по заказу и пришлёт вам ссылку для оформления.
      </li>
      <li class="mb-5">
        Когда откроется СберБанк Онлайн, авторизуйтесь и заполните заявку.
      </li>
      <li class="mb-5">
        Рассмотрение заявки займет несколько минут.
      </li>
      <li>
        Если кредит одобрен, деньги за покупку автоматически будут перечислены на счёт магазина.
      </li>
    </ol>

    <div class="text--demibold">
      Подробнее с условиями кредитования можно ознакомиться на странице <a class="color-primary" href="">https://www.pokupay.ru/credit_terms</a>
    </div>

  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)() %>