<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">оплата и доставка</h1>

		<div class="payment">
			<div class="text-h6 mb-5 mb-md-8">Упаковка</div>
	
			<div class="payment__info p-4 p-md-8 mb-5 mb-md-8">
				<p class="mb-5">
					Мы уделяем большое внимание к упаковке наших растений, потому что наша главная задача – доставить их Вам живыми и невредимыми, словно Вы сами только что выкопали их в поле! Ведь саженцы требуют особого внимания к упаковке при транспортировке!
				</p>
				<b>
					Компания Семена и саженцы использует трехступенчатую систему упаковки, которая гарантирует жизнеспособность растений
					в течение двух месяцев.
				</b>
			</div>

			<ul class="mb-5 mb-md-10">
				<li class="mb-3">
					В конце осени, когда сокодвижение в растении останавливается, и саженец переходит в состояние анабиоза, мы выкапываем готовую продукцию и закладываем на хранение в специальное помещение, предварительно пересыпав корни аморфным грунтом.
				</li>
				<li class="mb-3">
					После, саженцы ждут своего хозяина, чтобы найти свой дом и радовать Вас большим и вкусным урожаем! А мы в это время усердно ищем им владельцев.
				</li>
				<li class="mb-3">
					С 1 марта начинается отправка посылок в первую очередь по забронированным заявкам, а далее по вновь поступившим заказам.
				</li>
				<li class="mb-3">
					Перед отправкой владельцу корни саженца мы замачиваем в гидрогель. Это даёт растению достаточно влаги, чтобы подпитываться на протяжении всего пути, даже если саженец вдруг проснётся.
				</li>
				<li class="mb-3">
					Затем корни помещаются в торфосмесь и надёжно обматываются стретч-плёнкой так, чтобы плёнка прилегала к стволу идеально плотно. Это помешает влаге выйти, таким образом получается замкнутая система. Важно: каждое растение упаковывается индивидуально!
				</li>
				<li>
					На финальном этапе саженцы фасуют в коробку и обкладывают крафтовой бумагой для фиксации неподвижного состояния. Это необходимо чтобы растение не повредилось после нескольких циклов переворотов и возможных ударов при транспортировке.
				</li>
			</ul>

			<div class="text-h6 mb-5 mb-md-8">Отправка декоративных растений осуществляется в горшках Р9, С1, С2 и С3</div>

			<div class="payment__items mb-5 mb-md-10">
				<div class="payment__item py-4 px-4 py-md-8">
					<div class="payment__number text-h6 mb-5">Р9</div>
					<div class="text-body-1">
						пластиковый квадратный горшок размером 9*9*9 см
					</div>
				</div>
				<div class="payment__item py-4 px-4 py-md-8">
					<div class="payment__number text-h6 mb-5">С1</div>
					<div class="text-body-1">
						пластиковый круглый горшок объёмом 1 литр
					</div>
				</div>
				<div class="payment__item py-4 px-4 py-md-8">
					<div class="payment__number text-h6 mb-5">С2</div>
					<div class="text-body-1">
						пластиковый круглый горшок объёмом 2 литра
					</div>
				</div>
				<div class="payment__item py-4 px-4 py-md-8">
					<div class="payment__number text-h6 mb-5">С3</div>
					<div class="text-body-1">
						пластиковый круглый горшок объёмом 3 литра
					</div>
				</div>
			</div>

			<div class="payment__main text-body-0 text--demibold mb-5 mb-md-10">
				<svg class="icon mr-2">
					<use xlink:href="img/icons.svg#ms" />
				</svg>
				Будьте внимательны: вес горшка отразится на стоимости доставки!
			</div>

			<div class="text-h6 mb-5 mb-md-8">Доставка</div>

			<div class="payment__info p-4 p-md-8 mb-5 mb-md-8">
				<div class="payment__cub">
					<svg class="icon text-h6 mr-2">
						<use xlink:href="img/icons.svg#cub" />
					</svg>
					<div class="text-subtitle-2">После оплаты заказа, специалисты компании КСП готовят его к отправке</div>
				</div>
			</div>

			<div class="text-body-1 mb-5">
				Луковицы и Корни цветов мы заказываем у надёжных поставщиков из Нидерландов. В связи с повышением пошлины на ввоз на границе, посадочный материал завозится сразу большими партиями: четыре раза весной (25 февраля, 25 марта, 10/25 апреля и 5 мая) и два раза осенью (25 сентября и 25 октября). Если луковиц в наличие нет, а до прибытия есть время – мы собираем предзаказы.
			</div>

			<hr>

			<div class="text-body-1 mb-5 mt-5">
				Растения мы отправляем с 1 марта по 15 июня и с 1 сентября по 1 декабря. Саженцы плодово – ягодных, винограда и роз, мы производим на собственном питомнике, за исключением небольшого процента новинок в нашем каталоге.
			</div>

			<hr>

			<div class="text-body-1 mb-5 mt-5">
				Зимой саженцы находятся в состоянии анабиоза, но транспортировка в это время не желательна, так как мороз может загубить растение. Летом же саженец находится в фазе активного роста и развития, транспортировка в это время даёт сильный стресс растениям и снижает процент приживаемости.
			</div>

			<hr>

			<div class="text-body-1 mb-5 mt-5">
				Для комфортной адаптации и для сохранности растения живыми, пересадка возможна только в осенний и в весенний период.
			</div>

			<hr>

			<div class="text-body-1 mb-5 mb-md-10 mt-5">
				Семена овощей и цветов, мицелий грибов, удобрения, газонная трава и садовый инвентарь отправляются в любое время года.
			</div>

			<div class="payment__ways mb-5 mb-md-10">
				<div class="payment__way payment__way--green p-4 p-md-8">
					<div class="payment__img mb-5 mb-md-10 pb-5 pb-md-10">
						<img src="img/dacha/cdek.png" alt="">
					</div>
					<ul>
						<li class="mb-5">
							Стоимость доставки компанией СДЭК - <b>от 400 рублей</b>
						</li>
						<li class="mb-5">
							Сроки доставки – <b>от 2 до 5 дней после отправки</b>
						</li>
						<li class="mb-5">
							В стоимость товара <b>НЕ ВКЛЮЧЕНЫ</b> почтовые сборы, стоимость доставки рассчитывается отдельно
						</li>
						<li>
							Выбор: самовывоз или доставка до двери
						</li>
					</ul>
				</div>
				<div class="payment__way payment__way--blue p-4 p-md-8">
					<div class="payment__img mb-5 mb-md-10 pb-5 pb-md-10">
						<img src="img/dacha/pochta.png" alt="">
					</div>
					<ul>
						<li class="mb-5">
							Стоимость доставки - <b>от 350 рублей</b>
						</li>
						<li class="mb-5">
							Сроки доставки – <b>от 3 до 14 дней</b> с момента отправки 
						</li>
						<li>
							В стоимость товара <b>НЕ ВКЛЮЧЕНЫ</b> почтовые сборы, стоимость доставки рассчитывается отдельно
						</li>
					</ul>
				</div>
			</div>

			<div class="text-h6 mb-5 mb-md-8">Способы оплаты</div>

			<div class="payment__elem mb-5">
				<div class="payment__elem-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#card" />
					</svg>
				</div>
				<div class="text-body-1">
					Картой банка через внутренний защищённый шлюз системы Сбербанк Эквайринг. Важно: платёжный шлюз предоставил Сбербанк,все транзакции надёжно защищены
				</div>
			</div>
			<div class="payment__elem mb-5 mb-md-10">
				<div class="payment__elem-img">
					<svg class="icon">
						<use xlink:href="img/icons.svg#mob" />
					</svg>
				</div>
				<div class="text-body-1">
					Владельцы дебетовой банковской карты ПАО Сбербанк, подключившиеся к услуге «Мобильный банк» и к системе «Сбербанк Онлайн», могут совершать покупки в кредит, не выходя из дома! Кредит по программе "Покупай со Сбером"
				</div>
			</div>

			<div class="text-h6 mb-5 mb-md-8">Основные требования</div>

			<ul class="mb-5 mb-md-10 pl-5">
				<li class="mb-5">
					Гражданство РФ
				</li>
				<li class="mb-5">
					Возраст покупателя - от 21 до 70 лет на момент возврата кредита по договору
				</li>
				<li>
					Наличие постоянной (временной) регистрации по месту жительства/пребывания на территории Российской Федерации
				</li>
			</ul>

			<div class="text-h6 mb-5 mb-md-8">Клиентский сценарий</div>

			<ol class="mb-5 mb-md-10 pl-5">
				<li class="mb-5">
					Выберите товар, оформите заказ, при оформлении заказа нажмите «Купить в кредит», с вами свяжется менеджер для уточнения информации по заказу и пришлёт вам ссылку для оформления.
				</li>
				<li class="mb-5">
					Когда откроется СберБанк Онлайн, авторизуйтесь и заполните заявку.
				</li>
				<li class="mb-5">
					Рассмотрение заявки займет несколько минут.
				</li>
				<li>
					Если кредит одобрен, деньги за покупку автоматически будут перечислены на счёт магазина.
				</li>
			</ol>

			<div class="text--demibold">
				Подробнее с условиями кредитования можно ознакомиться на странице <a class="color-primary" href="">https://www.pokupay.ru/credit_terms</a>
			</div>

		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>