<%= _.template(require('./html-includes/header.html').default)() %>

<section class="container-block page--block  product-detail">

  <div class="product-stock__main">
    <div class="product-stock__head py-3 px-3 px-md-6">
      <div class="product-stock__head-text text-body-2 text-md-body-0 text--bold">Успейте приобрести товар со скидкой!</div>
      <div class="product-stock__head-time flex flex-align-center">
        <div class="text-body-2 mr-2">До конца акции</div>
        <div class="text-body-2 text-md-body-0 text--bold">06:34:23:02</div>
      </div>
    </div>
    <div class="product-stock__block">
      <div class="product-detail-info">
        <div class="product-detail-gallery">
          <div class="product-detail-gallery-slider new-product">
            <div class="swiper-container">
              <div class="swiper-wrapper">

                <a data-fancybox="detail-gallery" class="product-detail-gallery-slide swiper-slide" href="https://picsum.photos/800/600?random=1">
                  <img src="https://picsum.photos/800/600?random=1" alt="Виноград Оригинал" title="Виноград Оригинал"> </a>
                <a data-fancybox="detail-gallery" class="product-detail-gallery-slide swiper-slide" href="https://picsum.photos/800/600?random=2">
                  <img src="https://picsum.photos/800/600?random=2" alt="Виноград Оригинал" title="Виноград Оригинал"> </a>
              </div>
            </div>
            <div class="swiper-pagination"> </div>
          </div>
          <div class="product-detail-gallery-thumbs">
            <div class="swiper-container swiper-container-thumbs">
              <div class="swiper-wrapper">

                <div class="product-detail-gallery-thumb swiper-slide">
                  <img src="https://picsum.photos/800/600?random=1" alt="Виноград Оригинал" title="Виноград Оригинал">
                </div>
                <div class="product-detail-gallery-thumb swiper-slide">
                  <img src="https://picsum.photos/800/600?random=2" alt="Виноград Оригинал" title="Виноград Оригинал">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-detail-content">
        <h1 class="product-detail-title">Виноград Оригинал</h1>
        <div class="product-detail-line">

          <div class="flex flex-align-center">
            <img src="img/star-1.svg" alt="" class="mr-2">
            <img src="img/star-1.svg" alt="" class="mr-2">
            <img src="img/star-1.svg" alt="" class="mr-2">
            <img src="img/star-1.svg" alt="" class="mr-2">
            <img src="img/star-1.svg" alt="" class="mr-2">
            <div class="fade-80">5.0</div>
          </div>

          <div class="ml-sm-8 mt-sm-0 mt-1 fade-60">Tulip fringed Mustang</div>
          <div class="ml-sm-8 mt-sm-0 mt-1 fade-60 color-green">Есть в наличии</div>
        </div>

        <div class="product-detail-cost-wrapper">
          <div class="flex flex-align-end">
            <div class="text-h4 mr-3">236 ₽</div>
            <div class="text-h6 text--regular fade-40 product-detail-cost__old">236 ₽</div>
          </div>

          <div class="product-detail-counter ml-sm-auto mt-sm-0 mt-3">
            <button class="product-detail-counter__btn btn btn--primary">-</button>
            <input type="text" class="product-detail-counter__input" value="1" placeholder="0">
            <button class="product-detail-counter__btn btn btn--primary">+</button>
          </div>
        </div>
        <div class="product-detail-tags">
          <div class="product-detail-tag">Долгоцветущие</div>
          <div class="product-detail-tag">Винный</div>
          <div class="product-detail-tag">Зимние сорта</div>
        </div>
        <div class="product-detail-props">
          <div class="product-detail-prop">
            <div class="product-detail-prop__sign fade-60 flex">
              <svg class="icon color-primary mr-3">
                <use xlink:href="img/icons.svg#i" />
              </svg>
              Артикул
            </div>
            <div class="product-detail-prop__value text--demibold">324345</div>
          </div>
          <div class="product-detail-prop">
            <div class="product-detail-prop__sign fade-60 flex">
              <svg class="icon color-primary mr-3">
                <use xlink:href="img/icons.svg#i" />
              </svg>
              Высота растения
            </div>
            <div class="product-detail-prop__value text--demibold">120 - 150 см</div>
          </div>
          <div class="product-detail-prop">
            <div class="product-detail-prop__sign fade-60 flex">
              <svg class="icon color-primary mr-3">
                <use xlink:href="img/icons.svg#i" />
              </svg>
              Ширина растения
            </div>
            <div class="product-detail-prop__value text--demibold">80 - 100 см</div>
          </div>
        </div>
        <div class="product-detail-buttons flex mt-8">
          <button class="btn btn--accent btn--fill">
            <svg class="icon mr-2">
              <use xlink:href="img/icons.svg#shopping-cart"></use>
            </svg>
            В корзину
          </button>
          <button class="btn btn--primary btn--fill" data-fancybox-modal data-type="ajax" data-src="dialog-discount.html">Поймай скидку</button>
          <button class="btn btn--light btn--fill">
            <svg class="icon mr-2">
              <use xlink:href="img/icons.svg#like"></use>
            </svg>
            В избранное
          </button>
        </div>
        <div class="mt-8">
          Можно купить этот товар, позвонив по номеру
          <a href="tel:8 (800) 000-00-00" class="text--xbold text-subtitle-2"><span class="color-primary">8
              (800) </span>000-00-00</a>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  (() => {
    const thumbs = new Swiper('.product-detail-gallery-thumbs .swiper-container', {
      spaceBetween: 6,
      slidesPerView: 4,
      slidesPerGroup: 1,
      // direction: "vertical",

      breakpoints: {

      }
    });
    const slider = new Swiper('.product-detail-gallery-slider .swiper-container', {
      pagination: {
        el: '.product-detail-gallery-slider .swiper-pagination',
        clickable: true,
      },
      spaceBetween: 20,
      slidesPerView: 1,
      slidesPerGroup: 1,

      navigation: {
        nextEl: '.-slider-next',
        prevEl: '.-slider-prev',
      },
      thumbs: {
        swiper: thumbs
      }

    });
  })();
</script>

<section class="container-block">
  <div class="product-detail-specifications">
    <div class="product-detail-specifications__title">характеристики</div>

    <div class="grid">
      <div class="grid-col-sm-6">
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Особенности
          </div>
          <div class="product-detail-prop__value text--demibold">Два в одном - урожайный и декоративный
          </div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Высота растения
          </div>
          <div class="product-detail-prop__value text--demibold">50.0000 - см</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Время посадки
          </div>
          <div class="product-detail-prop__value text--demibold">Авг Апр Май Мар Окт Сен</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Время созревания
          </div>
          <div class="product-detail-prop__value text--demibold">Авг Апр Май</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Зоны морозостойкости
          </div>
          <div class="product-detail-prop__value text--demibold">Южные регионы</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Окраска
          </div>
          <div class="product-detail-prop__value text--demibold">
            <div class="flex">
              <div class="color-box mr-2" style="background: #A19D17;"></div>
              <div class="color-box mr-2" style="background: #a1179a;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col-sm-6">
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Расстояние при посадке
          </div>
          <div class="product-detail-prop__value text--demibold">100 - 150 см</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Вес плода (г)
          </div>
          <div class="product-detail-prop__value text--demibold">230 - 280 г</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Местоположение
          </div>
          <div class="product-detail-prop__value text--demibold">Солнечное место</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Срок созревания
          </div>
          <div class="product-detail-prop__value text--demibold">Раннеспелый (115 - 120 дней)</div>
        </div>
        <div class="product-detail-prop">
          <div class="product-detail-prop__sign fade-60 flex">
            Зимостойкость
          </div>
          <div class="product-detail-prop__value text--demibold">22°C</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-block mt-4">
  <div class="product-detail-pray">
    <form class="consultation__form py-5 px-4 py-md-10 px-md-8">
      <div class="consultation__title page-title mb-4">
        нужна бесплатная консультация?
      </div>
      <div class="text-body-1 mb-4 mb-md-5">
        Отправьте заявку, а мы перезвоним и уточним
        все детали и нюансы
      </div>

      <div class="consultation__form-fields mb-6">
        <label class="consultation__label ">
          <span class="text-body-1 mb-2">Имя</span>
          <input class="page-input" type="text" placeholder="Введите текст" required>
        </label>
        <label class="consultation__label ">
          <span class="text-body-1 mb-2">Телефон</span>
          <input class="page-input" type="tel" placeholder="+7" required>
        </label>
        <button class="consultation__form-btn btn btn--accent " type="submit">Отправить</button>
      </div>
      <a class="consultation__politic" href="">
        Отправляя форму Вы даете согласие на обработку <br>Ваших персональных данных
      </a>
    </form>
  </div>
</section>
<section class="container-block">
  <div class="product-detail-specifications mt-4">
    <div class="product-detail-specifications__title">описание</div>
    Тюльпан мустанг относится к группе бахромчатых тюльпанов. Форма цветка бокаловидная .Окраска бокала
    малиново-красная . Высота бокала: до 8 см . По краю лепестков игольчатая бахрома. Высота растения до 60 см.
    Среднего срока цветения . Стебли высокие, крепкие. Фактура лепестков плотная. Устойчив к вирусу
    пестролепестности. Размножается хорошо. Используется для выгонки, срезки, групповых посадок

  </div>

  <div class="product-detail-specifications mt-4">
    <div class="product-detail-specifications__title">описание</div>

    <div class="flex text-h6 mb-5">
      <svg class="icon mr-3 color-primary">
        <use xlink:href="img/icons.svg#box" />
      </svg>
      Упаковка
    </div>
    Мы уделяем большое внимание к упаковке наших растений, потому что наша главная задача – доставить их Вам
    живыми и невредимыми, словно Вы сами только что выкопали их в поле! Ведь саженцы требуют особого внимания к
    упаковке при транспортировке!

    <div class="text--demibold mt-4 mb-4">
      Компания Расти Дача использует трехступенчатую систему упаковки, которая гарантирует жизнеспособность
      растений в течение двух месяцев.
    </div>

    <ol>
      <li>
        В конце осени, когда сокодвижение в растении останавливается, и саженец переходит в состояние
        анабиоза, мы
        выкапываем готовую продукцию и закладываем на хранение в специальное помещение, предварительно
        пересыпав
        корни
        аморфным грунтом.
      </li>
      <li>
        После, саженцы ждут своего хозяина, чтобы найти свой дом и радовать Вас большим и вкусным урожаем! А
        мы в
        это время
        усердно ищем им владельцев
      </li>
    </ol>

    <button class="btn btn--accent btn--light btn--contur mt-8">
      <span class="color-text">Смотреть всё</span>
    </button>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>