<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page--block video">
		
		<div class="video-block">
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
			<div class="video-block-elem">
				<a href="img/video.png" data-fancybox="video-gallery" class="video-block-elem-background">
					<img src="img/video.png" class="video-block-elem-background__image">
					<div class="video-block-elem-background-play">
						<img src="img/play.svg">
					</div>
				</a>
				<span class="video-block__title">Как выращивают подвои?</span>
			</div>
		</div>
		<div class="category-block-link">
			<span class="category-block-link__button">Показать еще</span>
			<div class="category-block-link-page">
				<a href="#" class="category-block-link-page__arrow">
					<img src="img/arrow-left_2.svg">
				</a>
				<a href="#" class="category-block-link-page__numder">1</a>
				<a href="#" class="category-block-link-page__numder">2</a>
				<a href="#" class="category-block-link-page__numder">3</a>
				<a href="#" class="category-block-link-page__numder category-block-link-page__active">4</a>
				<a href="#" class="category-block-link-page__numder">...</a>
				<a href="#" class="category-block-link-page__numder">13</a>
				<a href="#" class="category-block-link-page__arrow">
					<img src="img/arrow-right_2.svg">
				</a>
			</div>
		</div>
	</section>


	<%= _.template(require('./html-includes/footer.html').default)() %>