<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="container-block page-block">
		<div class="page-link mb-6">
			<a href="">Главная</a> / <span>Каталог</span>
		</div>
		<a class="back-btn btn btn--white mb-2 mb-md-8" href="">
			<img class="icon text-small" src="img/arrow-left.svg" alt="">
			<span class="back-btn__text ml-2">Назад</span>
		</a>
		<h1 class="page-title mb-5 mb-md-9">ГАРАНТИЯ</h1>

		<div class="payment">

			<div class="text-body-1 mb-5 mb-md-10">
				Мы прилагаем все усилия для того, чтобы каждый покупатель остался довольным качеством приобретенного товара. К отправке допускаются только здоровые и крепкие саженцы, которые проходят двойной контроль качества перед сборкой и доставкой покупателю. Просим учитывать тот факт, что живые растения могут подсохнуть во время транспортировки, а неправильная техника посадки приведет к их гибели. Если Вас коснулась аналогичная неприятная ситуация, стоит обратить внимание на то, что мы предлагаем каждому покупателю гарантию замены некачественного посадочного материала.
			</div>

			<div class="text-h6 mb-5 mb-md-8">Гарантийные сроки</div>

			<div class="text-body-1 mb-5 mb-md-10">
				После получения заказа у покупателя есть 360 дней для обращения в службу поддержки. Если установленный срок обращения истек, претензия не будет рассмотрена. Обработка претензионных обращений производится в течение 5 рабочих дней. В течение этого срока претензия будет рассмотрена и комиссия вынесет соответствующее решение. Клиент получает возможность заменить некачественный товар или вернуть денежные средства. Почтовые расходы для покупателя в этом случае остаются бесплатными. В случае замены некачественного посадочного материала все расходы по отправке мы берем на себя. Для получения замены нет необходимости отправлять обратно полученный ранее товар. При необходимости возврата денежных средств, покупатель обязан выслать фото или видео некачественных саженцев с нашими бирками-петельками, на основе которых будет вынесено решение.
			</div>

			<div class="text-h6 mb-5 mb-md-8">Обязательные условия</div>

			<div class="text-body-1 mb-5 mb-md-10">
				Обращение в службу поддержки будет удовлетворено, если были соблюдены следующие условия:
			</div>

			<ul class="mb-5 mb-md-10 pl-5">
				<li class="color-primary mb-5">
					<span class="color-text">
						Посылка была получена в курьерской службе или на почтовом отделении не позднее 5 дней после ее поступления. Сроки получения отправлений можно отслеживать в личном кабинете курьерской службы СДЭК, или на сайте Почты России. Просроченное получение товара влечет за собой снижение его качества. В этом случае гарантия на отправленный посадочный материал не распространяется.
					</span>
				</li>
				<li class="color-primary mb-5">
					<span class="color-text">
						На предоставленных фото должны быть хорошо видны бирки-петельки или этикетки нашего магазина.
					</span>
				</li>
				<li class="color-primary">
					<span class="color-text">
						Обращение в службу поддержки для замены товара было произведено в течение 14 дней после получения посылки. Работа специалистов с гарантийными заявками (рекомендации по восстановлению саженца, его посадке и дальнейшему уходу, при необходимости) проводится в течение неограниченного срока. При этом заявка покупателя остается актуальной.  
					</span>
				</li>
			</ul>

			<div class="payment__info p-4 p-md-8">
				<b>Пожалуйста, обратите внимание,</b> что магазин не несет ответственность за развитие аномальных погодных условий в регионе покупателя. Также, при несоблюдении правил посадки или игнорировании климатических условий региона, магазин снимает с себя ответственность за последующее состояние приобретенных саженцев. Учитывайте характеристики приобретаемого товара перед оформлением заказа.
			</div>

		</div>

	</section>

	<%= _.template(require('./html-includes/footer.html').default)() %>