@import './ui-reset.scss';

@import "./variables";
@import "./functions";
@import './ui/Grid.scss';
@import './ui/Btn.scss';
@import './ui/Margin.scss';
@import './ui/Padding.scss';
@import './ui/Form.scss';
@import './ui/Progress.scss';
@import './ui/Typography.scss';
@import './ui/Display.scss';



.card-items {
	display : grid;
	grid-gap: 30px;

	&--4 {
		grid-template-columns: repeat(4, 1fr);

		@media(max-width: 989px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media(max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&--3 {
		grid-template-columns: repeat(3, 1fr);

		@media(max-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media(max-width: 576px) {
		grid-gap: 15px;
	}
}

.fade {
	&-10 {
		opacity: .1;
	}

	&-20 {
		opacity: .2;
	}

	&-30 {
		opacity: .3;
	}

	&-40 {
		opacity: .4;
	}

	&-50 {
		opacity: .5;
	}

	&-60 {
		opacity: .6;
	}

	&-70 {
		opacity: .7;
	}

	&-80 {
		opacity: .8;
	}

	&-90 {
		opacity: .9;
	}
}

.flex {
	display: flex;

	&-align {
		&-center {
			align-items: center;
		}

		&-end {
			align-items: flex-end;
		}

		&-start {
			align-items: flex-start;
		}
	}
}